<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Movie - MovieSpace</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-black text-white min-h-screen p-10">
    <h1 class="text-3xl font-bold mb-6">Add New Movie</h1>

    <form
      action="/admin/add-cards"
      method="POST"
      class="bg-[#1c1c1c] p-8 rounded-xl max-w-2xl space-y-6"
    >
      <div>
        <label class="block mb-1 text-sm">Movie Title</label>
        <input
          type="text"
          name="title"
          class="w-full p-3 rounded bg-gray-800 border border-gray-700"
          placeholder="Enter movie title"
        />
      </div>

      <div>
        <label class="block mb-1 text-sm">Image URL (Poster)</label>
        <input
          type="text"
          name="poster"
          class="w-full p-3 rounded bg-gray-800 border border-gray-700"
          placeholder="Paste poster link"
        />
      </div>

      <div>
        <label class="block mb-1 text-sm">Categories</label>
        <select
          class="select select-bordered w-full p-3 rounded bg-gray-800 border border-gray-700"
          name="genere"
        >
          <option disabled selected>Choose genre</option>
          <option>Action</option>
          <option>Adventure</option>
          <option>Comedy</option>
          <option>Drama</option>
          <option>Horror</option>
          <option>Romance</option>
          <option>Sci-Fi</option>
          <option>Thriller</option>
        </select>
      </div>

      <div>
        <label class="block mb-1 text-sm">Description</label>
        <textarea
          class="w-full p-3 rounded bg-gray-800 border border-gray-700"
          rows="4"
          name="description"
          placeholder="Movie full description..."
        ></textarea>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="block mb-1 text-sm">Year Release</label>
          <input
            type="number"
            name="release"
            class="w-full p-3 rounded bg-gray-800 border border-gray-700"
            placeholder="2025"
          />
        </div>
        <div>
          <label class="label">
            <span class="label-text font-semibold">Rating (1–10)</span>
          </label>
          <input
            type="number"
            min="1"
            max="10"
            name="rating"
            placeholder="8.5"
            class="w-full p-3 rounded bg-gray-800 border border-gray-700"
          />
        </div>
      </div>

      <button
        class="w-full bg-blue-600 py-3 rounded-lg font-semibold text-lg hover:bg-blue-700"
      >
        Add Movie
      </button>
    </form>
  </body>
</html>
