<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movies - MovieSpace</title>
  <link rel="stylesheet" href="output.css">
</head>
<body class="bg-black text-white p-10 min-h-screen">

  <h1 class="text-4xl font-extrabold text-center mb-10">Movies</h1>

  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-6">
    <img src="https://image.tmdb.org/t/p/w500/2YkBl8JYFYrLC2d5pYeFaQpMkfN.jpg" class="rounded-xl hover:scale-105 transition shadow-xl" />
    <img src="https://image.tmdb.org/t/p/w500/6HbVyW6FwqSNPgkAwm791AfsV0a.jpg" class="rounded-xl hover:scale-105 transition shadow-xl" />
    <img src="https://image.tmdb.org/t/p/w500/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg" class="rounded-xl hover:scale-105 transition shadow-xl" />
    <img src="https://image.tmdb.org/t/p/w500/4WKJhKzv3gx8QtbOoxv7I75PwW2.jpg" class="rounded-xl hover:scale-105 transition shadow-xl" />
    <img src="https://image.tmdb.org/t/p/w500/r7Dfg9aRZ78gJsmDlCirIIlNH3d.jpg" class="rounded-xl hover:scale-105 transition shadow-xl" />
  </div>

</body>
</html>
