<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Series - MovieSpace</title>
  <link rel="stylesheet" href="output.css">
</head>
<body class="bg-black text-white p-10 min-h-screen">

  <h1 class="text-4xl font-extrabold text-center mb-10">Series</h1>

  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-6">
    <img src="https://image.tmdb.org/t/p/w500/1XS1oqL89opfnbLl8WnZY1O1uJx.jpg" class="rounded-xl hover:scale-105 transition shadow-xl" />
    <img src="https://image.tmdb.org/t/p/w500/qJRB789ceLryrLvOKrZqLKr2CGf.jpg" class="rounded-xl hover:scale-105 transition shadow-xl" />
    <img src="https://image.tmdb.org/t/p/w500/roaqdCHROhKIZ5FY4WvpIhZtc1A.jpg" class="rounded-xl hover:scale-105 transition shadow-xl" />
    <img src="https://image.tmdb.org/t/p/w500/hPea3Qy5Gd6z4kJLUruBbwAH8Rm.jpg" class="rounded-xl hover:scale-105 transition shadow-xl" />
    <img src="https://image.tmdb.org/t/p/w500/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg" class="rounded-xl hover:scale-105 transition shadow-xl" />
  </div>

</body>
</html>
