<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success - MovieSpace</title>
    <link rel="stylesheet" href="/output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-black text-white min-h-screen flex">
    <div class="card w-96 bg-base-100 card-xl shadow-sm">
      <div class="card-body">
        <h2 class="card-title">
          Done <i class="fa-solid fa-circle-check" style="color: #03fc6f"></i>
        </h2>
        <p>
          Your Card has added successfully!!!!
        </p>
        <div class="justify-end card-actions">
          <a href="/admin" class="btn btn-primary">Back to Dashboard</a>
        </div>
      </div>
    </div>
  </body>
</html>
